body {
    background-color: #f5f5f5;
}

.container {
    height: 100vh;
}

.row {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.main-page-container {
    text-align: center;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

.questions-subtitle {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.hello_name {
    text-align: right;
    font-weight: 400;
}

.questions-subtitle {
    font-weight: 300;
}

@media only screen and (min-width: 600px) {
    .row {
        width: 55%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (max-width: 599px) {
    .row {
        top: 50%;
    }
    
    .hello_name {
        text-align: center;
        font-size: 30px;    
    }
}